<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.giulianofranchetto.plugins.speechreco" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>continuous speech recognition</name>
    <description>A plugin for continuous speech recognition. Using CMU pocketsphinx</description>
    <keywords>cordova,plugins,speech,recognition,sphinx,pocketsphinx</keywords>    

    <js-module name="reco" src="www/reco.js">
        <clobbers target="window.reco" />
    </js-module>

    <source-file src="platforms/android/src/libs/sphinx.jar" target-dir="libs" />

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="Recognizer">
                <param name="android-package" value="com.giulianofranchetto.plugins.speechreco.Recognizer_v2" />
            </feature>
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.RECORD_AUDIO" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>        
        
        <source-file src="src/android/Recognizer_v2.java" 
                     target-dir="src/com/giulianofranchetto/plugins/speechreco" />
    </platform>
</plugin>